
/*-----------------------------------------CUSTOMIZAÇÃO------------------------------------*/
/*--------usados nas páginas index.php, single.php, page.php e arquive.php--------*/
/*possui a lista de posts e a barra lateral, centralizado; tamanho relativo*/
.content{
  margin: 0 auto;
  width: 80%;
  height: auto;
}
/*itens da lista de posts e barra lateral - bg, margin, padding, border-radius e box shadow*/
.container{
  background-color: #C0C0CF;
  margin-top: 20px; margin-bottom: 20px;
  padding: 25px;
  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  
  -webkit-box-shadow: 3px -1px 7px 0px rgba(9,9,9,1);
  -moz-box-shadow: 3px -1px 7px 0px rgba(9,9,9,1);
  box-shadow: 3px -1px 7px 0px rgba(9,9,9,1);
}
  .margin20{/*!adiciona margin 20px em todas páginas menos no index.php!*/
    margin: 20px;    
  }
  /*formatação do conjunto de posts de uma categoria*/
  .post_list{
    background-color: #60606D;

    width: auto;
    height: auto;
    margin: 10px; margin-top: 20px;
    padding: 15px;

    float: left;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: inset 3px -1px 7px 0px rgba(9,9,9,1);
    -moz-box-shadow: inset 3px -1px 7px 0px rgba(9,9,9,1);
    box-shadow: inset 3px -1px 7px 0px rgba(9,9,9,1);
  }
    /*títilo da lista de posts*/
    .post_list header{
        color: #222;
        font-weight: bold;
        text-align: center;

        font-size: 15pt;
    }
    /*formatação do post na tela inicial*/
    .post{
      width: 350px;
      height: auto;

      padding-top: 5px;
      padding-bottom: 5px;

    }
      .content_post{
        text-align: justify;
      }
  
  /*largura relativa e float - usado nas páginas index.php, single.php e page.php*/
  .content_posts{/*item da lista de posts*/
    width: 65%;
    float: left;
  }
  
  /*--------usados nas páginas index.php, single.php, page.php e arquive.php--------*/
  .sidebar{/*estilos exlusivos da barra lateral - classes geradas pelo wordpress*/
    width: 20%;
    margin-right: 10px;
    float: left;
  }
    .d-2of7{
      width: 100%;
    }
    .genero{
      list-style-type: none;
      width: 300px;
      margin-left: 15x;
    }
    .genero ul li{
      list-style-type: circle;
      margin-left: 17px;
    }
    
  /*formatação do titulo de taxonomia - usado na página archive.php*/
  .titulo_taxonomia{
    text-align: center;    
    font-size: 18pt;
  }